<h1>Song Info Page</h1>
<ul>
    <li>Title: <%=@song.title%></li>
    <li>Release Year: <%=@song.release_year%></li>
    <li>Artist: <%=@song.artist_name%></li>
    <li>Genre: <%=@song.genre%></li>
</ul>

<div><%= link_to 'Edit Song', edit_song_path %></div>