<h1>Song info:</h1>
<h3><%= @song.title %></h3>

<p>Release year: <%=@song.release_year %></p>
<p>Is it released already? <%=@song.released %></p>
<p>Artist: <%=@song.artist_name %></p>
<p>Genre:<%=@song.genre %></p>
