<html>
<h1>Song title:</h1>
<%= @song.title %>

<h1>Song artist:</h1>
<%= @song.artist_name %>

<h1>Release status:</h1>
<%= @song.released %>
<%= @song.release_year %>

<h1>Song genre:</h1>
<%= @song.genre %>
</html>